@import '../../styles/settings.scss';

.mybtn {
  border-radius: 5px;
  background: $color-dark;
  color: $color-light;
  position: absolute;
}

.paramtitle {
  margin: 30px;
  font-size: 18px;
  font-weight: bold;
}

.invisible {
  display: none;
}