@import '../../styles/settings.scss';

.navoption {
  text-decoration: none;
  color: $color-light;
  display: absolute;
}


.navbar {
  background: $color-dark;
  margin: 0 auto;
  height: 100px;
  position: relative;
}