@import '../../styles/settings.scss';

.status {
  font-weight: bold;
}

.table {
  border-bottom: 1px solid $color-dark;
}


.btnshow {
  border-radius: 5px;
  background: $color-dark;
  color: $color-light;
  position: absolute;
}

.buttoncon {
  position: relative;
  left: 400px;
}

@media(min-width : 480px) {
  .buttoncon {
    bottom: 80px;
    left: 250px;
  }
}

@media (min-width: 767px) {

  .buttoncon {
    bottom: 80px;
    left: 450px;
  }

}


@media (min-width: 991px) {
  .buttoncon {
    bottom: 20px;
    left: 200px;
  }
}

@media (min-width: 1200px) {
  .buttoncon {
    bottom: 20px;
    left: 400px;
  }
}