@import '../../styles/settings.scss';

.status {
  font-weight: bold;
}

.table {
  border-bottom: 1px solid $color-dark;
}


.btnshow {
  border-radius: 5px;
  background: $color-dark;
  color: $color-light;
  position: absolute;
}

.buttoncon {
  position: relative;
  left: 400px;
}

@media (max-width: 767px) {
  .buttoncon {
    left: 150px;
    position: absolute;
  }
}


@media (min-width: 768px) and (max-width: 991px) {
  .buttoncon {
    left: 150px;
    position: absolute;
  }
}